<html>

<head>
    <title>LOGIN</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; background-color: burlywood;">
  


    <center style="margin-top: 80px;"><h1>Add a meal</h1></center>  

    

    <center>
<form action="/addmeal" method="POST" style="border-radius: 30px; margin-top: 80px;background-color: #222222; width: 200px; padding: 50px;">
 <input type="text" name="mealname" value="" placeholder="meal name" style="height: 80px; border-radius: 10px; padding: 5px;">
 <br><br>
 <input type="text" name="preparationtime" value="" placeholder="preparation time" style="height: 80px; border-radius: 10px;padding: 5px;">
 <br><br>
 <br><br>
 <input type="submit" value="submit">
 </form>
</center>




</body>

</html>